.app__container {
  margin-top: 0;
  background-color: #1d1d1d;
  padding-bottom: 65px;
  padding-left: 65px;
  padding-right: 65px;
  height: 100vh;
  overflow-x: hidden;
}
.app__h2 {
  color: white;
  font-weight: 600;
  font-size: 35px;
  padding: 20px;
}
.app__h2 h4 {
  margin: 0;
  color: white;
  font-size: 18px;
}

.app__mid img {
  width: 350px;
  height: 350px;
  padding: 40px;
}

.app__mid {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  margin-top: 30px;
}
.app__h {
  margin-top: 30px;
}

.app__h h2 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 45px;
}
.app__h h4 {
  color: white;
  font-size: 18px;
}
.img-2 {
  margin: -180px;
  margin-right: 10px;
  margin-left: 20px;
}

.line {
  width: 300px;

  border: 2px solid #06d889;
}
